<% include header %>
<link rel = "stylesheet" href="/css/Game.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/Game.js"></script>
<link rel="stylesheet" href="css/Game.css" type="text/css">

<div class="boxes">
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="box">
            <span class="x">X</span>
            <span class="o">O</span>
        </div>
        <div class="red-line top-hor"></div>
        <div class="red-line mid-hor"></div>
        <div class="red-line bottom-hor"></div>
        <div class="red-line left-vert"></div>
        <div class="red-line mid-vert"></div>
        <div class="red-line right-vert"></div>
        <div class="red-line ltr-diag"></div>
        <div class="red-line rtl-diag"></div>
        
        <div class="x-wins js-wins">X Wins!<span>Play Again?</span></div>
        <div class="o-wins js-wins">O Wins!<span>Play Again?</span></div>
    </div>
    <button class="reset">Reset</button>
    
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/Game.js"></script>
<% include footer %>
