<% include header %>
<link rel = "stylesheet" href="/css/sai1.css">
<header><h1 id="heading">Section 06 - Chinmai Sai Sure</h1></header>
<img src="/images/chinmai.JPG" class="img-circle" width="200" height="200" >
<h1 id="present-section">Current Profile</h1>
<p class="present">
I am chinmai sai sure.I am from INDIA and I am currently pursuing my masters in Applied computer science. 
</p>
<h1 id="past-section">Educational History</h1>
<p class="past">
I am from the background of Electronics and Communication Engineering in my undergraduation from Amrita school of Engineering
</p>
<h1 id ="future-section">My Goal</h1>
<p class="future">
My knowledge is very limited in the stream of computer sciences and technologies  but i am very much interested in data analysis and web development. So, i 
applied for masters in Applied computer sciences  to build my career in those streams. 
I have a goal to work in a multi national company as a  Developer either in Data  sciences or Web developer  which is very much challenging jobs with a lots of new things to learn on every day basis especially for a student like me coming from a different back ground.
In this course and upcoming courses i am hoping to gain some skills so that i can reach my goal.
</p>
<h1 id ="Daily">Hobbies</h1>
<p class="hobbies">
My favaroite  hobbie is playing cricket. My timepass things I do are  watching netflix.
</p>
<h1 id="Dailyclass">My Sem Plan</h1>
<ol>
<ul>
<div>	
<li>Subject					----			Code	----	Timing</li>
<li>Oops					----			44542	----	TR(2:00pm-3:15pm)	</li>
<li>Webapps					----			44563	----	MW(11:00am-11:50pm)	</li>
<li>Networkfundamentals		----			44356	----	MWF(2:00pm-2:50pm)	</li>
<li>Data base				----			44460	----	MWF(8:00AM-8:50AM)	</li>
</ul>
</ol>
</div>
<h1 id="linkedin"> My linkedin Profile</h1>
<a href="https://www.linkedin.com/in/chinmai-sai-sure-a2b66416b/">Link<br><br></a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68"  allowfullscreen></iframe>
<aside id="asidertag">This is an asider tag </aside>
<footer><h5> class="Thankyou">Thank you</h5></footer>

<% include footer %>